/* Reset Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  height: 100%;
}

button {
  padding: 0;
  border: 0;
}

/* Common styles */
body {
  font-family: "Manrope", sans-serif;
  color: #fcf9f9;
  background-color: #1c2225;
}
a {
  color: currentColor;
  text-decoration: none;
}
li {
  list-style-type: none;
}
span {
  color: #ecd979;
}
.btn {
  background-color: inherit;
}
h2 {
  font-weight: 500;
  font-size: 44px;
  line-height: 1.45;
  letter-spacing: -0.03em;
}
h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #fcf9f9;
}
h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
}
p {
  letter-spacing: -0.04em;
  color: rgba(252, 249, 249, 0.4);
}
/* Hero Section */

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}
.hero {
  margin-top: 20px;
}
.header {
}
.hero-wrapper {
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.hero-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.hero-nav,
.footer-nav {
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
}
.hero-logo {
  height: 39px;
  margin-right: 60px;
}
.hero-list {
  display: flex;
  width: 478px;
  height: 18px;
  justify-content: space-between;
}
.hero-link {
}
.hero-item {
}
.hero-address {
  display: flex;
  font-style: normal;
}
.address-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.address-item {
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 14px 28px;
  height: 48px;
  margin-right: 20px;
}
.address-link {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  text-transform: uppercase;
  color: #fcf9f9;
}
.socials {
}
.socials-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 12px;
}
.socials-item {
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 8px;
  width: 44px;
  height: 44px;
  background: rgba(252, 249, 249, 0.1);
}
.socials-link {
  display: block;
  width: 28px;
  height: 28px;
}

.hero-img {
}
.hero-title {
  font-weight: 400;
  font-size: 54px;
  line-height: 1.19;
  letter-spacing: -0.03em;
}
.hero-star {
}
.star-text {
  /* text-align: center; */
  letter-spacing: -0.04em;
  color: rgba(252, 249, 249, 0.4);
}
